body {
    background-color: #a9d0f5;
}

header {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    
    background-color: #045fb4;
    
    color: white;
    font-family: Helvetica, sans-serif;
}

main {
    padding-left: 50px;
}

footer {
    padding: 10px;
    box-shadow: 5px 5px 2px grey;
    
    background-color: #045fb4;
    
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style-type: square;
}
